<html>
<head>
    <title>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">

            <form action='' method="POST">
                <h2>Please Enter Your Details</h2>
                {% csrf_token %}
                {{ form }}<br>
                <input type="submit" value="Book" class="btn-success">
            </form>
        </div>
    </div>
</div>
</body>
</html>