<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telugu  Movie Details</title>
</head>
<body>
<table border="2px">
    <tr>
        <th>Director Name</th>
        <th>Hero Name</th>
        <th>Heroin Name</th>
        <th>Producer Name</th>
        <th>Release Date</th>
    </tr>
    <tr>
        <td>sss</td>
        <td>sss</td>
        <td>sss</td>
        <td>sss</td>
        <td>sss</td>
    </tr>
</table>
<a href="/#/">go to home</a>
<a href="{% url '' %}">booknow</a>
</html>